@charset "utf-8";

#options {
   display: flex;
   flex-flow: row wrap;
}

body {
      display: flex;
      flex-direction: column;
    }
    
section {
   flex: 1;
}

div.card {
   display: flex;
   flex-flow: column nowrap;
   flex: 1 1 200px;
   justify-content: space-between;
   align-items: center;
   margin: 15px;
}


