@charset "utf-8";

body > header > h1 {
   padding: 10px 0px;
}

body > section > h1 {
    margin: 50px 15px 15px 15px;
}

div.options {
   padding: 10px 0px 0px 0px;
   width: 100%;
   height: 100%;
}

div.options h1 {
   margin: 0.3em 0;  
}

footer {
	padding: 10px 0px 20px 0px;
	clear: both;
}

fieldset.search {
   width: 45%;
   margin: 15px auto 25px auto;
}

fieldset.add {
   width: 50%;
   margin: 15px auto;
}

.form-row {
   margin: 10px;
}

.form-row label {
   display: inline-block;
   width: 100px;
}

.form-row input {
   display: inline-block;
   width: 300px;
}

input[type="submit"] {
   font-size: 1em;
}

input[type="submit"] {
   display: block;
   width: 75px;
   margin: 15px auto;
}

.search-form {
   margin: 3px;
}

.search-form label {
   display: inline-block;
   width: 100px;
}

.search-form input {
   display: inline-block;
   width: 230px;
}

.search-form input[type="submit"] {
   display: inline-block;
   width: 75px;
   margin: 0;
}

html {
    height: 100%;
}

body {
   width: 95%;
   min-width: 320px;
   max-width: 960px;
   margin-left: auto;
   margin-right: auto;
   min-height: 100%;  
}

section#main {
    padding: 0px 50px;
}

nav.horizontal li {
   width: 20%;
}

nav.horizontal a {
   display: block;
}

div img {
   display: block;
   width: 80%;
   height: 80%;
   margin: 10px auto;  
}

a#navicon {
   display: none;
}