@charset "utf-8";

.form-row {
   margin: 10px;
}

.form-row label {
   display: inline-block;
   width: 100px;
}
.form-row input {
   display: inline-block;
   width: 300px;
}

input[type="submit"] {
   display: block;
   width: 75px;
   margin: 15px auto;
   font-size: 1em;
}

.search-form {
   margin: 3px;
}
.search-form label {
   display: inline-block;
   width: 100px;
}
.search-form input {
   display: inline-block;
   width: 200px;
}
.search-form input[type="submit"] {
   display: inline-block;
   width: 75px;
   font-size: 1em;
   margin: 0;
}

select {
   display: block;
   width: 200px;
   margin: 0px 0px 5px 10px;
   font-size: 1em;
}

select option {
   padding: 2px 0px 2px 5px;
}

input {
   width: 200px;
   margin: 0px 0px 5px 5px;
}

/* ===============================
   Mobile Styles: 0px to 640px 
   ===============================
*/
@media only screen and (max-width: 640px) {
   a#navicon {
      display: block;
   }
   
   header nav {
      padding-bottom: 15px;
   }
   
   header nav ul {
      display: none;
   }
   
   header nav ul li {
      font-size: 1em;
      line-height: 1.3em;
      height: 1.3em;
   }
   
   a#navicon:hover+ul, header nav ul:hover {
      display: block;
   }
   
   header img#logoimg {
      width: 100%;
   }
}

/* =============================================
   Tablet and Desktop Styles: greater than 640px
   =============================================
*/
@media only screen and (min-width: 641px) {
   header nav ul {
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
   }
   
   header nav ul li {
      flex: 0 1 auto;
   }
}