@charset "utf-8";

/* styles */

html {
   background-color: cadetblue;
}

/* Page Body Styles */

body {
   background-color: white;
   font-family: Verdana, Geneva, Arial, sans-serif;  
   box-shadow: rgb(51, 51, 51) 10px 0px 40px, rgb(51, 51, 51) -10px 0px 40px;
   border-left: 1px solid cadetblue;
   border-right: 1px solid cadetblue; 
}

/* Heading Style */

body > header > h1 {
   font-size: 3em;
   text-align: center;
   font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
   color:white;
   text-shadow: 0px 0px 1px cadetblue, 0px 0px 5px cadetblue, 0px 0px 20px cadetblue;
   letter-spacing: 0.1em;
}

/* Horizontal Navigation List Styles */

nav.horizontal a {
   background-color: cadetblue;
   font-size: 1.2em;
   line-height: 1.6em;
   text-align: center;
}  

nav.horizontal a:link, 
nav.horizontal a:visited {
   color: rgb(231, 231, 231);
   text-shadow: rgb(51, 51, 51) 0px 0px 1px, rgb(51, 51, 51) 0px 0px 8px;
}

nav.horizontal a:hover, 
nav.horizontal a:active {
   color: white;
   background-color: rgb(3, 51, 86);
}   

/* Section Styles */

body > section > h1 {
    font-size: 2em;
    font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
}

/* Image Styles */

div img {
   border: 1px solid rgb(81, 81, 81);
   border-radius: 20px;
   box-shadow: inset 0px 0px 3px cadetblue, inset 0px 0px 10px cadetblue, inset 0px 0px 20px cadetblue, 0px 0px 25px 1px black;
}


/* Options Styles */

div.options {
   background-color: rgba(255, 255, 255, 0.15);
}

div.options h1 {
   font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";   
   color: cadetblue;
   font-size: 1.5em;
   font-weight: bold;
   text-align: center;
}


/* Footer Styles */

footer {
	font-size: 0.9em;
	text-align: center;
}

/* Form Styles */

fieldset.search {
   border-radius: 15px;
   background: rgb(235, 245, 245);
}

fieldset.add {
   border-radius: 15px;
   background: rgb(235, 245, 245);
}

legend {
   font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
   font-size: 1.1em;
}

input[type="submit"] {
   font-size: 1em;
}

.search-form input[type="submit"] {
   font-size: 1em;
}

a#navicon {
   text-align: left;
}