@charset "utf-8";

table {
   border-collapse: collapse;
   width: 75%;
   margin: 15px auto;
}

th, td {
   border: 1px solid gray;
   padding: 5px;
   text-align: left;
   vertical-align: top;
}

caption {
   caption-side: top;
   text-align: left;
   font-size: 1.5em;
}

table col {
   width: 100px;
}

table thead {
   background-color: cadetblue;
}


/* ===============================
   Mobile Styles: 0px to 640px 
   ===============================
*/
@media only screen and (max-width: 640px) {
  table {
    width: 100%;
    border-collapse: collapse;
  }

  table thead {
    display: none;
  }

  table tr {
    display: block;
    margin-bottom: 1em;
    padding: 0.5em;
  }

  table td {
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 0.5em 0;
  }

  table td::before {
    content: attr(data-label);
    font-weight: bold;
  }
}